
@{
    ViewBag.Title = "Save";
}

<h2>Save Project </h2>


<div>
    @if (ViewBag.SuccessMessage != null)
    {
        <div>
            <span>@ViewBag.SuccessMessage</span>
        </div>

    }
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="success ">
            <span class="has-error">@ViewBag.ErrorMessage</span>
        </div>
    }


</div>

<form class="form-horizontal" id="form-User" method="POST" enctype="multipart/form-data">

    <div class="form-group">
        <label class="control-label col-sm-3" for="Name">Name:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="Name" name="Name" placeholder="Enter Name">
        </div>
        <div class="3"></div>
    </div>



    <div class="form-group">
        <label class="control-label col-sm-3" for="Code"> Code Name :</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="Code" name="Code" placeholder="Enter Code">
        </div>
        <div class="3"></div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3" for="Description"> Description :</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="Description" name="Description" placeholder="Enter Description">
        </div>
        <div class="3"></div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3" for="Start">Start Date :</label>
        <div class="col-sm-6">
            <input type="date" class="form-control" id="Start" name="Start" placeholder="Enter Start Date">
        </div>
        <div class="3"></div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="End">End Date :</label>
        <div class="col-sm-6">
            <input type="date" class="form-control" id="End" name="End" placeholder="Enter End Date">
        </div>
        <div class="3"></div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3" for="Duration"> Duration:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="Duration" name="Duration" placeholder="Enter Duration">
        </div>
        <div class="3"></div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3" for="File">File Upload :</label>
        <div class="col-sm-6">
            <input type="file" class="form-control" id="File" name="File">
            <input type="submit" value="Upload" />
        </div>
        <div class="3"></div>
    </div>


    <div class="form-group">
        <label class="control-label col-sm-3" for="Status">Status :</label>
        <div class="col-sm-6">
            @Html.RadioButton("Status", "Not Started", isChecked: true) @Html.Label("Not Started")
            @Html.RadioButton("Status", "Started", isChecked: false) @Html.Label("Started   ")
            @Html.RadioButton("Status", "Completed", isChecked: false) @Html.Label("Completed   ")
            @Html.RadioButton("Status", "Cancelled", isChecked: false) @Html.Label("Cancelled   ")
            @*<input type="text" class="form-control" id="Status"  name="Status" placeholder="Enter Status">*@
        </div>
        <div class="3"></div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-default">Save</button>
        </div>
    </div>
</form>
